.homepage {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.carousel-container {
    height: 600px;
    width: 100%;


}

.page-title {
    padding: 10px;
}

.pet-categories-section {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid #F2B6B7;
}

.pet-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    width: 90%;
    padding: 30px;
    margin-left: 60px;

}

.category-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
}
