.search-bar {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    
    
  }

.search-input{
    flex-basis: 90%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 10px;
    padding-right: 70px;
    
    
}

.search-icon {
    height: 20px;
}


.search-results-dropdown {
    position: absolute;
    top: 10%;
    left: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
    max-height: 400px;
    max-width: 100%; /* Make the dropdown as wide as the search bar */
}