.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.auth-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.auth-form-textfield {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 90%;
}

.auth-form-header-title {
    font-size: 32px;
    font-weight: 500;
}

.auth-form-header-subtitle {
    font-size: 12px;
    font-weight: 200;
}

.auth-button {

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

    margin: 10px;
    margin-bottom: 5px;
    background-color: #F38385;
    height: 50px;
    width: 70%;
    border-radius: 10px;
    border-color: white;

}

.auth-button-label {

    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.socials-divider {
    font-size: small;
    margin: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F38385;
    color: #F38385;
    height: 10px;
    width: 80%;
    text-align: center;


}
.forgot-password-link{
    font-style: italic;
    font-weight: lighter;
    font-size: small;
    margin: 0px;
    text-decoration: underline;
    text-align: right;
    padding: 0px;
    
}