.category-container{
    margin: 10px;
    padding: 5px;
    height: 500px;
     
    
}
.category-container h2{
    margin: 10px;
    font-weight: 500;
     
    
}

.products-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow-x: auto;
}
.products-section::-webkit-scrollbar {
    display: none;
  }