.category-page{
    width: fit-content;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    
}
.category-container{

    width: 1450px;
    height: 20%;
    align-items: flex-start;
    
     
    
}
.products-section{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;       /* Allow horizontal scrolling */
    flex-wrap: nowrap;
    
   


}
.category-title{
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 28px;
}

.products-section::-webkit-scrollbar {
    display: none;
  }