.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 20px;
    position: static;
    margin-bottom: 30px;
}



.navbar .navlinks-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    flex-basis: 60%;
}

.navbar .searchbar-container {
    display: flex;

    height: 30px;
    align-items: center;
    flex-basis: 20%;
    background-color: #F5C5C6;
    border: 1px solid #F2B6B7;
    border-radius: 20px;

}

.navbar .applogo-container {

    align-items: center;
    flex-basis: 2%;
}



.cart-container {
    display: flex;
    align-items: center;
}

.accounticon-container {
    display: flex;
    align-items: center;
}

.navbar-divider {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 1px;
    background-color: black;
    width: 100%;
}

.minimal-navbar {
    display: none;
}

/* Media query for smaller screens */
@media (max-width: 1300px) {

    .navbar {
        display: none;
        /* Hide the desktop navbar */
    }

    .minimal-navbar {
        display: inline-block;
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .applogo-container {

        align-items: center;
        flex-basis: 2%;
    }


}

/* Styles for the toggle button, adjust as needed */
.drawer-toggle {
    display: none;

    /* Hide the toggle button by default */

}

@media (max-width: 1300px) {
    .drawer-toggle {
        display: inline-block;
        height: 30px;
        margin: 20px;

        /* Show the toggle button for smaller screens */
    }

}

.petcity-logo {
    padding-top: 0px;
    padding-left: 10px;
    height: 50px;
    object-fit: contain;
    width: 50px;

}