.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.back-icon {
    vertical-align: middle;
    margin: 5px;
    height: 50px;
}

.header-text {
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 12px;
    font-weight: 700;
    color: grey;

}

.cart-header {
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.cart-title {
    font-weight: 700;
    margin-bottom: 0px;

}

.cart-subtitle {
    font-size: small;
    color: grey;
}

.cartpage-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
}

.cartitems-section {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    height: 600px;
    /* Set a fixed height for the scrollable section */
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.checkout-section {
    margin-left: 20px;
    background-color: #20716A;
    flex-basis: 40%;
    border-radius: 5px;
}