.product-card2-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 0px;


}

.product-card2-container .card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
    /* This ensures the image retains its aspect ratio and doesn't get stretched or squished */
}

.product-card-text{
    margin: 0px;

}

.product-title {
    font-size: 18px;
    font-weight: 600;
}

.product-description {
    font-size: 14px;
    height: 2rem;
    color: grey;
   
}

.atc-button {
    
    background-color: #20716a;
    border: 1px solid;
    border-color: #000000;
}

.product-price {
    font-size: 24px;

    font-weight: 600;
}

.product-price-container {
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}