.footer-divider{
    height: 1px;
    background-color: black;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.need-help-section{
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-basis: 30%;
}
.location-container{
    display: flex;
    align-items: center;
    
}
.mail-container{
    display: flex;
    align-items: center;
}
.phone-container{
    display: flex;
    align-items: center;
}

.information-section{
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-basis: 30%;
}
.about-us-container{
    display: flex;
    align-items: center;
    
}
.tcs-container{
    display: flex;
    align-items: center;
}
.privacy-policy-container{
    display: flex;
    align-items: center;
}

.socials-section{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;

}
.socials-container{
    display: flex;
    flex-direction: column;

    
}
.socialicons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.twitter-icon{
    padding-right: 15px;
}
.linkedin-icon{
    padding-right: 15px;
}
.facebook-icon{
    padding-right: 15px;
}
.instagram-icon{
    padding-right: 15px;
}
