.textfield-input {
    height: 60px;
    width: 97%;
    background-color: #ffffff;
    border-radius: 40px;
    margin: 10px;
    border: 1px solid white;


}

.textfield-input:focus {
    outline: none;
}