.authentication-page {
    display: flex;
    flex-direction: row;
}

.hero-image-section {
    flex-basis: 60%;

}

.auth-hero-image {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
}

.auth-form-section {
    flex-basis: 50%;
}