.authentication-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.hero-image-section {
    flex-basis: 60%;

}

@media (max-width: 900px) {
    .hero-image-section {
        display: none;
    }

}

.auth-hero-image {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
}

.auth-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    margin: 20px;
    height: 100%;

}

@media (max-width: 900px) {
    .auth-form-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }

}

.login-confirmation {
    margin-top: 10px;
    text-align: center;
}

.login-confirmation-text {
    display: inline;
    font-weight: 300;
    font-size: small;


}

.sign-in-link {
    color: #F38385;
    font-weight: 700;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer;
}

.sign-in-link :hover {
    text-decoration: underline;
}

.login-confirmation-text :hover {
    display: inline;

}

.register-toggle-container {
    margin-top: 10px;
    text-align: center;
}

.register-toggle-text {
    display: inline;
    font-weight: 300;
    font-size: small;
}

.sign-up-link {
    color: #F38385;
    font-weight: 700;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer;
}