.App {
  text-align: center;
}

.navbar-border {
  background-color: black;

  height: 1px;
  margin: 10px;
}

.link{
  text-decoration: none;
  color: inherit;
}
.link:hover{
  text-decoration: none;
  color: palevioletred;
}
