.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 150px;
    border: 1px solid black;
    border-radius: 30px;
}

.cart-image {
    flex-basis: 10%;
    margin: 15px;
    margin-right: 5px;
    height: 120px;
    width: 150px;
    background-size: cover;




}

@media (max-width: 900px) {
    .cart-image {
        flex-basis: 10%;
        margin: 15px;
        margin-right: 5px;
        height: 120px;
        width: 100px;
        background-size: cover;
    }

}

.cart-description-section {
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 10px;
    padding: 10px;
    flex-basis: 80%;

}

.cart-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.product-name {
    font-size: medium;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 3px;
}

@media (max-width: 900px) {
    .product-name {
        font-size: small;
        font-weight: 700;
        margin: 0px;
        margin-bottom: 3px;
    }

}

.product-desription {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    .product-desription {
        font-size: smaller;
        font-weight: lighter;
        margin-bottom: 0px;
    }

}

.product-price {
    font-size: large;
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    .product-price {
        font-size: medium;
        margin-bottom: 0px;
    }

}

.cart-end {
    display: flex;
    margin: 2px;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    flex-basis: 50%;
    align-items: flex-end;

}